[flake8]
# Conflicts with formatter
ignore = E203,
#	 E266,
	 W503,
	 D401,
	 W504,
	 D204,
	 E131, #conflict with yapf
	 E125

max-line-length = 79
max-complexity = 18
#select = B,C,E,F,W,T4,B9

# Select the formatter used to display errors to the user.
format = default
count = True
#show-source = True
#statistics = True
doctests = True
